
STAGE=dev

DB_PASSWORD=DragonBallz4
DB_NAME=TesloDB
DB_HOST=localhost
DE_PORT=5432
DB_USERNAME=postgres

PORT=3000
HOST_API=postgresql://postgres:odVtclkBslqpwBLlGuXmQCrWOCojqoAj@junction.proxy.rlwy.net:32257/railway

JWT_SECRET=odVtclkBslqpwBLlGuXmQCrWOCojqoAj